.navbar {
  height: 5rem;
  width: 100vw;
  max-width: 75rem;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 3;
  background: rgb(40, 40, 40);
}

.logo {
  width: 4rem;
  object-fit: cover;
}

.desktopMenuItem {
  margin: 1rem;
  cursor: pointer;
  transition: .5s ease;
}

.desktopMenuItem:hover {
  color: blueviolet;
  padding-bottom: .4rem;
  border-bottom: 4px solid rgb(138, 43, 226);
}

.desktopMenuButton {
  background-color: white;
  border: none;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 8px 1.5rem;
  gap: 6px;
  cursor: pointer;
  transition: ease .5s;
}

.desktopMenuButton:hover {
  transform: scale(.95);
}

.desktopMenuImg {
  width: 1.5rem;
  height: 1.5rem;
  object-fit: cover;
}

@media screen and (max-width: 480px) {
  .navbar {
    display: flex;
    flex-direction: column;
  }
}

.active {
  color: blueviolet;
  padding-bottom: .4rem;
  border-bottom: 4px solid blueviolet;
}

.mobile-menu {
  object-fit: cover;
  display: none;
  width: 3rem;
}

.mobile-nav {
  position: absolute;
  top: 4rem;
  right: 2rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
  padding: .5rem;
  height: fit-content;
  min-width: 15rem;
  background-color: rgb(50, 50, 50);
  border-radius: 1rem;
}

.mobile-item {
  color: white;
  padding: .5rem 3rem;
  margin: .25rem;
  background: rgb(39, 39, 39);
  border-radius: .5rem;
  cursor: pointer;
}

@media screen and (max-width: 720px) {
  .mobile-menu {
    display: flex;
  }
  .desktopMenu {
    display: none;
  }
  .desktopMenuButton {
    display: none;
  }
}